*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}